#set($title="加入我们")

<div class="shadow-box">
	<h1 class="post-title">联系我们</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">
			官方团队
		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<p><strong>联系我们</strong></p>
			<p>友情链接交换、意见反馈、商业合作, 您可以 <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=1426090908@qq.com" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a></p>
			<p><strong>加入我们</strong><br/></p>
			<p>QQ群：淘宝博客交流群 <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=c015da156e4a995dd9c35dd1fa44ab7ee1409cb7fdd99f3db0a9bab4515da4c0"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="淘学博客交流" title="淘学博客交流"></a></p>

		</div>
		<div class="post-footer">
		</div>
	</div>
</div>